<form novalidate [formGroup]="newPersonForm" (ngSubmit)="addPerson()">
<div flex-container>
    <input  flex="30" type="text" placeholder="First Name" formControlName="name" [class]="nameFieldWarning()" required><h4 *ngIf="nameFieldWarning()"> Name required, no spaces please </h4>
    <input  flex ="30" type="number" min="0" max="100" step="1" placeholder="attendance percentage" formControlName="attendance"  required>
    <div class="input-field" flex="30">
  </div>
</div>
<div layout="row" layout-margin layout-align="center center">
  <button flex='70' md-raised-button color="accent" class="text-upper" type="submit" >Add New Person</button>
</div>
</form>
