<form novalidate [formGroup]="updatePersonForm" (ngSubmit)="updatePerson()">
<div flex-container>
  <!-- <md-input-container flex> -->
    <input flex="30" [class]="nameFieldWarning()" type="text" formControlName="name" required>
    <input flex="30" type="number" formControlName="attendance" placeholder="number between 1 and 100" required>
  <!-- </md-input-container> -->
</div>

<div layout="row" layout-margin layout-align="center center">
  <button type = "submit" flex='70' md-raised-button color="accent" class="text-upper">Update</button>
</div>
</form>
