<p>
  home works!
  <a class="waves-effect waves-light btn-large">Button</a>
</p>

<h3 *ngFor="let person of allPeople" (click)="goToDetails(person)"> {{person?.name}}
<p> ID: {{person?.$key}} </p></h3>


<form novalidate [formGroup]="newPersonForm" (ngSubmit)="addPerson()">
<div layout="row" layout-margin layout-align="space-between center">
  <!-- <md-input-container flex> -->
    <input flex="50" type="text" placeholder="name" formControlName="name" required>
  <!-- </md-input-container> -->
</div>
<h3> form group value {{this.newPersonForm?.value | json}}</h3>
<h3> status of form group {{this.newPersonForm.status}}</h3>
<h3>form group untouched {{this.newPersonForm?.untouched}}</h3>
<h3>status of name control in form group {{this.newPersonForm.get('name')?.status}}</h3>
<h3> name field error checking {{this.newPersonForm.errors | json}}</h3>

<div layout="row" layout-margin layout-align="center center">
  <button flex='70' md-raised-button color="accent" class="text-upper" type="submit" >Add New Person</button>
</div>
</form>


<h1 routerLink="about"> Go to about </h1>
